[submodule "EmbeddedLinux/nasa-fprime"]
	path = EmbeddedLinux/nasa-fprime
	url = https://github.com/nasa/fprime.git
[submodule "GUI/nanogui-framework"]
	path = GUI/nanogui-framework
	url = https://github.com/mitsuba-renderer/nanogui
[submodule "Embedded/TS100-firmware"]
	path = Embedded/TS100-firmware
	url = https://github.com/Ralim/IronOS
[submodule "GUI/slate-pixeleditor"]
	path = GUI/slate-pixeleditor
	url = https://github.com/mitchcurtis/slate
[submodule "EmbeddedLinux/axiom-firmware"]
	path = EmbeddedLinux/axiom-firmware
	url = https://github.com/apertus-open-source-cinema/axiom-firmware
[submodule "docker/yocto-example"]
	path = docker/yocto-example
	url = https://github.com/bstubert/dr-yocto
[submodule "EmbeddedLinux/meta-layer-example"]
	path = EmbeddedLinux/meta-layer-example
	url = https://github.com/bstubert/meta-cuteradio
[submodule "GUI/simple-embedded-qt"]
	path = GUI/simple-embedded-qt
	url = https://github.com/bstubert/cuteradio-apps
[submodule "EmbeddedLinux/meta-layer-complex-automotive"]
	path = EmbeddedLinux/meta-layer-complex-automotive
	url = https://github.com/Pelagicore/meta-pelux
[submodule "Cpp/faking-lib"]
	path = Cpp/faking-lib
	url = https://github.com/eranpeer/FakeIt
[submodule "EmbeddedLinux/serial-lib"]
	path = EmbeddedLinux/serial-lib
	url = https://github.com/wjwwood/serial
