[submodule "EmbeddedLinux/nasa-fprime"]
	path = EmbeddedLinux/nasa-fprime
	url = https://github.com/nasa/fprime.git
[submodule "GUI/nanogui-framework"]
	path = GUI/nanogui-framework
	url = https://github.com/mitsuba-renderer/nanogui
[submodule "Embedded/TS100-firmware"]
	path = Embedded/TS100-firmware
	url = https://github.com/Ralim/IronOS
[submodule "GUI/slate-pixeleditor"]
	path = GUI/slate-pixeleditor
	url = https://github.com/mitchcurtis/slate
[submodule "EmbeddedLinux/axiom-firmware"]
	path = EmbeddedLinux/axiom-firmware
	url = https://github.com/apertus-open-source-cinema/axiom-firmware
[submodule "docker/yocto-example"]
	path = docker/yocto-example
	url = https://github.com/bstubert/dr-yocto
[submodule "EmbeddedLinux/meta-layer-example"]
	path = EmbeddedLinux/meta-layer-example
	url = https://github.com/bstubert/meta-cuteradio
[submodule "GUI/simple-embedded-qt"]
	path = GUI/simple-embedded-qt
	url = https://github.com/bstubert/cuteradio-apps
[submodule "EmbeddedLinux/meta-layer-complex-automotive"]
	path = EmbeddedLinux/meta-layer-complex-automotive
	url = https://github.com/Pelagicore/meta-pelux
[submodule "Cpp/faking-lib"]
	path = Cpp/faking-lib
	url = https://github.com/eranpeer/FakeIt
[submodule "EmbeddedLinux/serial-lib"]
	path = EmbeddedLinux/serial-lib
	url = https://github.com/wjwwood/serial
[submodule "Cpp/MySTL"]
	path = Cpp/MySTL
	url = https://github.com/Alinshans/MyTinySTL
[submodule "Python/server-pi-gpio"]
	path = Python/server-pi-gpio
	url = https://github.com/projectweekend/Pi-GPIO-Server
[submodule "Python/qira"]
	path = Python/qira
	url = https://github.com/geohot/qira
[submodule "Cpp/good-cmake-project-starter"]
	path = Cpp/good-cmake-project-starter
	url = https://github.com/lefticus/cpp_starter_project
[submodule "Embedded/ArduinoCore-API"]
	path = Embedded/ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API
[submodule "Embedded/Arduino-ESP32"]
	path = Embedded/Arduino-ESP32
	url = https://github.com/espressif/arduino-esp32
[submodule "Embedded/Esp32-ST7789-display-driver"]
	path = Embedded/Esp32-ST7789-display-driver
	url = https://github.com/nopnop2002/esp-idf-st7789
[submodule "Embedded/LVGL-ESP32"]
	path = Embedded/LVGL-ESP32
	url = https://github.com/lvgl/lv_port_esp32
